* {
    background:                  rgba(17, 20, 24, 0.8);
    background-alt:              #43474e;
    foreground:                  #e1e2e8;
    selected:                    #a1cafd;
    active:                      #a1cafd;
    urgent:                      #ffb4ab;
}
