* {
    background:                  rgba(17, 19, 24, 0.8);
    background-alt:              #43474e;
    foreground:                  #e1e2e9;
    selected:                    #a4c9fe;
    active:                      #a4c9fe;
    urgent:                      #ffb4ab;
}
